*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}


a{
	text-decoration: none;
	color: black;
}


ul{
	list-style: none;
}


img{
	max-width: 100%;
}


h3{
	text-align: left;
	letter-spacing: 0.3px;
	line-height: 40px;
	color: #707070;
	margin: 10px;
}


.container{
	max-width: 1640px;
	width: 90%;
	margin: 0 auto;
}

nav, nav li{
	display: inline-block;
}

nav, .logo{
	vertical-align: middle;
}

/* hier nav textebi */
nav{
	width: 75%;
	text-align: right;

}

nav li{
	display: inline-block;
	padding: 5px;

}


nav a{
	font-size: 20px;
	text-align: left;
	letter-spacing: 2px;
	line-height: 27px;
	color: #707070;
	border: 1px;
}


.logo{
	max-width: 100%;
	width: 200px;
	height: 200px;
	object-fit: contain;
	display: inline-block;
}


/* satitao artiklebi */
.articel_box{
	display: inline-block;
	width: 30%;
	line-height: 29%;
	color: #FFFFFF;
	box-shadow:0px 3px 6px #00000029;
	padding: 5px;
	margin: 30px 10px;

}

section{
	display: inline-block;
	vertical-align: middle;
	margin: 20px auto;
}


/* here das große Foto direkt im section */
section img{
	max-width: 100%;
	object-fit: cover;
}


section article{
	display: inline-block;
	vertical-align: middle;
}


/* */
article p{
	font-size: 18px;
	text-align: left;
	letter-spacing: 0px;
	line-height: 24px;
	color: #707070;
	margin: 80px;
	margin: 20px 0px;
}




/*artiklshi myopi fotos */
article > img{
	width: 100%;
	height: 50%;
	background: transparent;
	object-fit: cover;
}


/* tviton read more class*/
.read_more{
	text-align: right;
}


/* read moris klasis a */
.read_more a{
	font-size: 24px;
	letter-spacing: 0px;
	line-height: 32px;
	color: #707070;
	border: 1px #707070;
}

/* Texs: Lead More */
.lead_more{
	text-align: center ;
	letter-spacing: 0.3px
	line-height: 40px;
	color: #707070;
	border: 1px #707070;
	margin: 20px;

}

/* sataurebi 'პოპულარული სტატიები' da 'ბოლოს დამატებული'*/
section h1{
	text-align: left;
	letter-spacing: 0.4px;
	line-height: 53px;
	color: #707070;
	border: 1px #707070;
	margin-top: 40px;
	margin-block: 20px;
}



/* aq footershi height rom gavuwere, misamartis blokebi horizontze centrshi agar iyvnen*/

footer{
	max-width: 100%;
	vertical-align: middle;
	background: #2E2E2E;
	padding:40px auto;
	margin-top: 20px;
	box-sizing: border box;
}

footer .container{
	padding: 20px;
}



footer img{
	margin: 10px;
}


.footer_pics{
	width: 30%;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border box;
	opacity: 1;
}


.footer_first_group{
	width: 30%;
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
    box-sizing: border box;    
}

.footer_second_group{
	width: 30%;
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
    box-sizing: border box;
}



h4{
	text-align: left;
	letter-spacing: 0,19px;
	line-height: 17px;
	color: #FFFFFF;
}


.foter_small_text{
	font-size: 13px;
	text-align: left;
	letter-spacing: 0,13px;
	line-height: 17px;
	color: #F2F2F2;
}
















